.tags-container {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: auto;
}

.input-tag:disabled {
  background-color: white;
}

.input-tag {
  border: none;
  margin: 5px;
  flex: 1;
}

.input-tag:focus {
  outline: none;
}

.tag {
  margin: 3px;
}

.clear-tags {
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  display: none;
  padding: 2px;
}

.clear-tags:hover {
  background-color: rgb(241, 241, 241);
}

.clear-tags-active {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.error-msg {
  color: #b00020;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error {
  border: 1px solid #b00020;
}
